// component css goes here
.main {
  margin:auto 0;
  background:url("https://res.cloudinary.com/dnhwxgf8i/image/upload/c_scale,h_718,q_100/v1487689941/kamil-lehmann-379_lz8idf.jpg") no-repeat;
  background-size:cover ;
  background-position:center;
  text-align:center;
  font-family: 'Righteous' !important;
  height:100%;
  top:0;
  left:0;
  overflow-y:hidden;
}