<!--component html goes here -->
<div class="main">
    <header>
        <div class="" id="">
            <span class="" data-text='-'>-MENU</span>
            </div>
            </header>
            <div class="" id="">
                <nav class="">
                    <ul>
                        <li ><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="">
                <div id="" class="">
                    <p>Hello.</p>
                    <p>I</p>
                    <p>Am</p>
                    <p>Sandeep Reddy Alalla</p>
                    <p>And</p>
                    <p>I'm</p>
                    <p>A</p>
                    <p>Front-End</p>
                    <p>Developer</p>
                    <p>Hello.</p>
                </div>
            </div>
        </div>